<div id="<%= dom_id station %>">
  <p>
    <strong>Name:</strong>
    <%= station.name %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= station.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= station.latitude %>
  </p>

</div>
