<h1> Where do you want to go?</h1>

<form action="/result">
  <label> Vehicle</label>
  <br>
  <input type="text" placeholder="Vehicle" name="v" aria-label="Search">
  <br>
  <label> Endstation </label>
  <br>
  <input type="text" placeholder="Endstation" name="e" aria-label="Search">
  <br>
  <label> Time </label>
  <br>
  <input type="number" placeholder="Time" name="t" aria-label="Search">
  <br>
  <label> Startstation </label>
  <br>
  <input type="text" placeholder="Startstation" name="s" aria-label="Search">
  <br>
  <button type="submit">Search</button>

</form>
