<h1> Where do you want to go?</h1>

<form action="/result">
  <label> Vehicle ID </label>
  <br>
  <input type="number" placeholder="Vehicle ID" name="v" aria-label="Search">
  <br>
  <label> Endstation ID </label>
  <br>
  <input type="number" placeholder="Endstation ID" name="e" aria-label="Search">
  <br>
  <label> Time </label>
  <br>
  <input type="number" placeholder="Time" name="t" aria-label="Search">
  <br>
  <label> Startstation ID </label>
  <br>
  <input type="number" placeholder="Startstation ID" name="s" aria-label="Search">
  <br>
  <button type="submit">Search</button>

</form>
