<div id="<%= dom_id route %>">
  <p>
    <strong>Name:</strong>
    <%= route.name %>
    <br>
    <strong>Vehicle:</strong>
    <%= route.vehicle.name %>
    <br>
    <strong>Endstation:</strong>
    <%= route.station.name %>
  </p>

</div>
